name = "pvh-app"
type = "pvh"
# Используйте vmlinux вместо bzImage + должны быть:
# CONFIG_XEN=y
# CONFIG_XEN_PVHVM=y
# CONFIG_XEN_PVH=y
#
#В файле xen.cfg укажите путь к несжатому ELF-образу ядра (обычно лежит в корне исходников ядра после сборки):
#kernel = "/usr/src/linux-source-6.12/vmlinux"
#2. Используйте правильный бинарник
#Часто vmlinux в корне — это "сырой" ELF со всей отладочной информацией. Попробуйте указать в конфиге файл, который генерируется специально для загрузки:

# readelf -n /usr/src/linux-source-6.12/arch/x86/boot/vmlinux.bin | grep XEN
#kernel = "/usr/src/linux-source-6.12/arch/x86/boot/vmlinux.bin"
kernel = "/usr/src/linux-source-6.12/arch/x86/boot/bzImage"
ramdisk = "/root/minlin/xen/initrd.img"    # Ваш cpio архив с приложением
memory = 128
vcpus = 1
# Прямой запуск приложения вместо init
extra = "console=hvc0 init=/app quiet"
