name = "pvh-app"
type = "pvh"
# лучше не использовать .gz, тк судя по всему (проверить) на распаковка дает увеличенный тайминг чем без 
kernel = "/root/kernel/boot/kernel/kernel"
#kernel = "/root/kernel/boot/kernel/kernel.gz"
#ramdisk = "/root/minlin/xen/initrd.img"    # Ваш cpio архив с приложением
memory = 128
vcpus = 1
# Прямой запуск приложения вместо init
#extra = "console=hvc0 init=/app quiet"

#type = "pvh" 
#kernel = "/path/to/your/compiled/kernel" 
# Для максимальной скорости передайте путь к вашему приложению вместо init
#extra = "init_path=/usr/local/bin/my_app boot_mute=YES" 
#extra = "console=comconsole hint.atrtc.0.disabled=1 hint.acpi.0.disabled=1"
extra = "init_path=/sbin/init"
